$blackTone: #070b19;
$lightBlackTone: #2b2d42;
$lightGrey: #8d99ae;
$offWhite: #edf2f4;
$primary: #ef233c;
$primaryDark: #d80032;
$gradient-primary-left: linear-gradient(to left, $blackTone, $primary);
$white: #ffffff;
$black: #000000;
